
<%- include('adminHeader') %>

<section class="content-main">
    <div class="row">
        <form action="/admin/addBanner" method="post" enctype="multipart/form-data" >
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Banner</h2>
                    <div>
                        <button type="submit" onclick="return validation()"
                            class="btn btn-light rounded font-sm mr-5  hover-up">Unpublish</button>
                        <button type="submit" onclick="return validation()"
                            class="btn btn-md rounded font-sm  hover-up">Publish</button>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="Name" class="form-label">Banner Name</label>
                            <input type="text" placeholder="Type here" name="Name" class="form-control" id="Name">
                            <span id="nameerr" style="color: red;"></span>
                        </div>
                        
                       
                    </div>
                </div> 
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label" for="description">Description</label>
                            <textarea placeholder="Type here" id="description" name="description"
                                class="form-control" rows="4"></textarea>
                            <span id="descerr" style="color: red;"></span>
                        </div>
                    </div>
                </div> 
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label" for="images">image</label>
                            <input type="file" accept="image/*" name="images" class="form-control" id="images">
                            <span id="imgerr" style="color: red;"></span>
                        </div>
                    </div>
                </div> 
                <div class="card mb-4">
                    <div class="card-body">
                        <div >
                            <label class="form-label" for="expiryDate">Starting Date</label>
                            <input type="date" id="startDate" name="startDate" class="form-control">
                            <span id="starterr" style="color: red;"></span>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div >
                            <label class="form-label" for="expiryDate">expiryDate</label>
                            <input type="date" id="ExpiryDate" name="ExpiryDate" class="form-control">
                            <span id="expireerr" style="color: red;"></span>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
        </form>
    </div>
</section>

<script>
   

    function validation(){
        let check = true
            const nameInput = document.getElementById('Name').value
            const descinput = document.getElementById('description').value
            const startinput = document.getElementById('startDate').value
            const expiryinput = document.getElementById('ExpiryDate').value
            const imagesinput = document.getElementById('images').files

            const descmessage = document.getElementById('descerr');
            const namemessage = document.getElementById('nameerr');
            const imgmessage = document.getElementById('imgerr');
            const stratmessage = document.getElementById('starterr');
            const expirymessage = document.getElementById('expireerr');

            namemessage.textContent = '';
            descmessage.textContent = '';
            imgmessage.textContent = '';
            stratmessage.textContent = '';
            expirymessage.textContent = '';
      
            if(!nameInput.trim()){
                namemessage.textContent = 'Please Enter the Banner Name'
                check= false
            }
            if(!descinput.trim()){
                descmessage.textContent= 'Please Enter the Description for Banner'
                check =false
            }
            if(!startinput.trim()){
                stratmessage.textContent= 'Please Enter the Starting Date for Banner'
                check =false
            }else if(!startinput){
                stratmessage.textContent= 'Please Enter the Starting Date for Banner'
                check =false
            }
            
            if(!expiryinput.trim()){
                expirymessage.textContent= 'Please Enter the Expiry Date for Banner'
                check =false
            }else if(!expiryinput){
                expirymessage.textContent= 'Please Enter the Expiry Date for Banner'
                check =false
            }
            if(imagesinput.length<=0){
                imgmessage.textContent= 'Please Add the Image for Banner'
                check =false
            }
            
            return check
          
    }
                document.getElementById('Name').addEventListener('input', function () {
                    document.getElementById('nameerr').textContent = '';
                });
                document.getElementById('description').addEventListener('input', function () {
                    document.getElementById('descerr').textContent = '';
                });
                document.getElementById('startDate').addEventListener('input', function () {
                    document.getElementById('starterr').textContent = '';
                });
                document.getElementById('ExpiryDate').addEventListener('input', function () {
                    document.getElementById('expireerr').textContent = '';
                });
                document.getElementById('images').addEventListener('input', function () {
                    document.getElementById('imgerr').textContent = '';
                });
                
   
   
</script>

<%- include('adminFooter') %>