<%- include('adminHeader') %>

    <section class="content-main">
        <div class="row">
            <form action="addProduct" method="post" enctype="multipart/form-data">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button type="submit" onclick="return validation()"
                                class="btn btn-light rounded font-sm mr-5  hover-up">Unpublish</button>
                            <button type="submit" onclick="return validation()"
                                class="btn btn-md rounded font-sm  hover-up">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" name="Name" class="form-control" id="Name">
                                <span id="producterr" style="color: red;"></span>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Color</label>
                                    <input type="text" name="Color" placeholder="Type here" class="form-control"
                                        id="Color">
                                    <span id="colorerr" style="color: red;"></span>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Size</label>
                                    <input type="text" name="size" placeholder="Type here" class="form-control"
                                        id="size">
                                    <span id="sizeerr" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">For</label>
                                <input type="text" name="For" placeholder="Type here" class="form-control" id="For">
                                <span id="forerr" style="color: red;"></span>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" id="description" name="description"
                                    class="form-control" rows="4"></textarea>
                                <span id="descerr" style="color: red;"></span>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">coverImages</label>
                                <input class="form-control" name="coverImages" id="coverimage" accept="image/*"
                                    type="file">
                                <span id="coverimgerr" style="color: red;"></span>

                            </div>
                        </div>

                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">images</label>
                                <input class="form-control" name="images" id="images" accept="image/*" type="file"
                                    multiple>
                                <span id="imageserr" style="color: red;"></span>
                            </div>
                        </div>

                    </div> <!-- card end// -->
                </div>
                <div class="col-xxl-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="text" id="price" name="price" placeholder="Type here" class="form-control">
                                <span id="priceerr" style="color: red;"></span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Offer</label>
                                <select name="offerType" id="offerType" class="form-select" onchange="showOffer()">
                                    <option value="none">None</option>
                                    <option value="percentage">Percentage</option>
                                    <option value="price">Price</option>
                                </select>
                            </div>
                            <div class="form-group mb-4" id="offer" style="display: none;">
                                <label for="product_color" class="form-label">Product Offer</label>
                                <input type="text" name="offer" class="form-control" id="productOffer"
                                    placeholder="Offer">
                                <span id="offererr" style="color: red;"></span>

                            </div>
                            <div class="mb-4">
                                <label class="form-label">Quantity</label>
                                <input type="text" id="Quantity" name="Quantity" placeholder="Type here"
                                    class="form-control">
                                <span id="qntyerr" style="color: red;"></span>
                            </div>
                            <h5 class="mb-3">Categories</h5>
                            <div class="form-check">
                                <select class="form-control" name="category" id="">
                                    <% category.forEach((item)=>{ %>
                                        <option value="<%= item.Name %>">
                                            <%= item.Name %>
                                        </option>
                                        <% }) %>
                                </select>

                            </div>


                        </div>
                    </div> <!-- card end// -->
                </div>
            </form>
        </div>
    </section>

    <%- include('adminFooter') %>

        </main>

        <script>

            function showOffer() {
                if (document.getElementById('offerType').value != 'none') {
                    document.getElementById('offer').style.display = 'block'
                } else {
                    document.getElementById('offer').style.display = 'none'
                }
            }

            function validation() {
                let check = true
                const nameInput = document.getElementById('Name').value
                const colorinput = document.getElementById('Color').value
                const sizeinput = document.getElementById('size').value
                const forinput = document.getElementById('For').value
                const descinput = document.getElementById('description').value
                const priceinput = document.getElementById('price').value
                const qntyinput = document.getElementById('Quantity').value
                const offerinput = document.getElementById('productOffer').value
                const imagesinput = document.getElementById('images').files
                const coverimginput = document.getElementById('coverimage').files
                const offerTypeinput = document.getElementById('offerType').value

                const nameMessage = document.getElementById('producterr');
                const colormessage = document.getElementById('colorerr');
                const sizemessage = document.getElementById('sizeerr');
                const formessage = document.getElementById('forerr');
                const descmessage = document.getElementById('descerr');
                const pricemessage = document.getElementById('priceerr');
                const qntymessage = document.getElementById('qntyerr');
                const offermessage = document.getElementById('offererr');
                const coverimgmessage = document.getElementById('coverimgerr');
                const imagesmessage = document.getElementById('imageserr');

                nameMessage.textContent = '';
                colormessage.textContent = '';
                sizemessage.textContent = '';
                formessage.textContent = '';
                descmessage.textContent = '';
                pricemessage.textContent = '';
                qntymessage.textContent = '';
                offermessage.textContent = '';
                imagesmessage.textContent = '';
                coverimgmessage.textContent = '';

                if (/.*\d.*/.test(nameInput.trim())) {
                    nameMessage.textContent = 'Please enter a product name without numbers.';
                    check = false
                } else if (!nameInput) {
                    // The input is not empty and doesn't contain numbers, clear any previous error message.
                    nameMessage.textContent = 'Enter a proper proper name';
                    check = false
                }

                // Validate the password field
                if (!colorinput) {
                    colormessage.textContent = 'Enter the product colors.';
                    check = false
                }
                if (!sizeinput) {
                    sizemessage.textContent = 'Enter the product size.';
                    check = false
                }
                if (!forinput) {
                    formessage.textContent = 'Enter the product For cetegory.';
                    check = false
                }

                if (imagesinput.length <= 2) {
                    imagesmessage.textContent = 'Please Add minimum 2 and maximum 5 images';
                    check = false
                }
                if (coverimginput.length !== 1) {
                    coverimgmessage.textContent = 'Please Add Coverimage image';
                    check = false
                }

                if (!priceinput) {
                    pricemessage.textContent = 'Enter the product Price.';
                    check = false
                } else if (!priceinput.trim()) {
                    pricemessage.textContent = 'Enter the product For cetegory.';
                    check = false
                } else if (parseFloat(priceinput) <= 0) {
                    pricemessage.textContent = 'Please enter product price greaterthan 0.';
                    check = false;
                }

                if (!qntyinput) {
                    qntymessage.textContent = 'Enter the product For publish/Unpublish.';
                    check = false
                } else if (parseInt(qntyinput) <= 0) {
                    qntymessage.textContent = 'Please enter product Quantity morethan 0.';
                    check = false;
                }

                if (!descinput) {
                    descmessage.textContent = 'Enter the product description.';
                    check = false
                } else if (descinput.length < 10) {
                    descmessage.textContent = 'product Description morethan 10 letters.';
                    check = false
                }

                if (offerTypeinput !== 'none') {
                    if (!offerinput) {
                        offermessage.textContent = 'Enter the product offer.';
                        check = false
                    } else if(!offerTypeinput === 'percentage' && offerinput <= 50 && offerinput > 1){
                        offermessage.textContent = 'Offer limit should be between 1% to 50%.';
                        check = false
                    }else if(!offerTypeinput === 'price' && offerinput <= 500 && offerinput > 1){
                        offermessage.textContent = 'product offer price limit is 1 /- to 500 /-.';
                        check = false
                    }
                }

                document.getElementById('Name').addEventListener('input', function () {
                    document.getElementById('producterr').textContent = '';
                });

                document.getElementById('Color').addEventListener('input', function () {
                    document.getElementById('colorerr').textContent = '';
                });

                document.getElementById('size').addEventListener('input', function () {
                    document.getElementById('sizeerr').textContent = '';
                });

                document.getElementById('For').addEventListener('input', function () {
                    document.getElementById('forerr').textContent = '';
                });

                document.getElementById('description').addEventListener('input', function () {
                    document.getElementById('descerr').textContent = '';
                });

                document.getElementById('price').addEventListener('input', function () {
                    document.getElementById('priceerr').textContent = '';
                });

                document.getElementById('Quantity').addEventListener('input', function () {
                    document.getElementById('qntyerr').textContent = '';
                });

                document.getElementById('productOffer').addEventListener('input', function () {
                    document.getElementById('offererr').textContent = '';
                });

                return check
            }

        </script>