<!doctype html>
<html lang="en" class=" ">

<head>
    <title>Colours Pardha Palace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charSet="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet"
        href="https://assets.nflxext.com/web/ffe/wp/less/core/not-found.b1d1f69ee775faf52d43.css" data-uia="botLink" />
    <link rel="shortcut icon" href="/images/Colours logo.png" />
    <link rel="apple-touch-icon" href="/images/Colours logo.png" />
</head>

<body>
    <div id="appMountPoint">
        <div dir="ltr" class="" data-uia="page-404">
            <div class="error-page not-found">
                <div class="error-page--header">
                    <a href="/" style="position: absolute; left: 1%; top: 15px;"> <img style="width: 150px;" src="/images/Colours (1).small.png" alt="image"></a>
                </div>
                <div class="error-page--content">
                    <h1>Lost your way?</h1>
                    <div class="error-page--content--body">
                        <p>Sorry, we can&#x27;t find that page. You&#x27;ll find lots to explore on the home page.</p>
                        <div class="error-page--content--buttons"><a id="linkforhome" onclick="linkhome()" tabindex="-1">
                                <style data-emotion="ltr 18ezbm2">
                                    .ltr-18ezbm2 {
                                        -webkit-align-items: center;
                                        -webkit-box-align: center;
                                        -ms-flex-align: center;
                                        align-items: center;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        -ms-appearance: none;
                                        appearance: none;
                                        border: 0;
                                        border-radius: 4px;
                                        cursor: pointer;
                                        display: -webkit-box;
                                        display: -webkit-flex;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-pack: center;
                                        -ms-flex-pack: center;
                                        -webkit-justify-content: center;
                                        justify-content: center;
                                        opacity: 1;
                                        padding: 0.8rem;
                                        position: relative;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                        will-change: background-color, color;
                                        word-break: break-word;
                                        white-space: nowrap;
                                    }

                                    .ltr-18ezbm2.color-primary {
                                        background-color: white;
                                        color: black;
                                    }

                                    .ltr-18ezbm2.color-primary:not(:disabled):hover {
                                        background-color: rgba(255, 255, 255, 0.75);
                                    }

                                    .ltr-18ezbm2.color-primary:not(:disabled):active {
                                        background-color: rgba(255, 255, 255, 0.5);
                                        color: rgba(0, 0, 0, 0.7);
                                    }

                                    .ltr-18ezbm2.color-primary:disabled {
                                        background-color: rgba(255, 255, 255, 0.25);
                                        color: rgba(0, 0, 0, 0.4);
                                    }

                                    .ltr-18ezbm2.color-secondary {
                                        background-color: rgba(109, 109, 110, 0.7);
                                        color: white;
                                    }

                                    .ltr-18ezbm2.color-secondary:not(:disabled):hover {
                                        background-color: rgba(109, 109, 110, 0.4);
                                    }

                                    .ltr-18ezbm2.color-secondary:not(:disabled):active {
                                        background-color: rgba(109, 109, 110, 0.4);
                                        color: rgba(255, 255, 255, 0.7);
                                    }

                                    .ltr-18ezbm2.color-secondary:disabled {
                                        background-color: rgba(109, 109, 110, 0.4);
                                        color: rgba(255, 255, 255, 0.4);
                                    }

                                    .ltr-18ezbm2.color-tertiary {
                                        background-color: transparent;
                                        color: white;
                                    }

                                    .ltr-18ezbm2.color-tertiary:not(:disabled):hover {
                                        background-color: rgba(255, 255, 255, 0.1);
                                    }

                                    .ltr-18ezbm2.color-tertiary:not(:disabled):active {
                                        background-color: rgba(255, 255, 255, 0.1);
                                        color: rgba(255, 255, 255, 0.7);
                                    }

                                    .ltr-18ezbm2.color-tertiary:disabled {
                                        color: rgba(255, 255, 255, 0.4);
                                    }

                                    .ltr-18ezbm2.color-quarternary {
                                        background-color: rgb(229, 9, 20);
                                        color: white;
                                    }

                                    .ltr-18ezbm2.color-quarternary:not(:disabled):hover {
                                        background-color: rgba(229, 9, 20, 0.75);
                                    }

                                    .ltr-18ezbm2.color-quarternary:not(:disabled):active {
                                        background-color: rgba(229, 9, 20, 0.1);
                                        color: rgba(229, 9, 20, 0.7);
                                    }

                                    .ltr-18ezbm2.color-quarternary:disabled {
                                        color: rgba(229, 9, 20, 0.4);
                                    }

                                    .ltr-18ezbm2.hasLabel {
                                        padding-left: 2.4rem;
                                        padding-right: 2.4rem;
                                    }

                                    .ltr-18ezbm2.hasIcon {
                                        padding-left: 1.6rem;
                                        padding-right: 1.6rem;
                                    }

                                    .ltr-18ezbm2.hasLabel.hasIcon {
                                        padding-left: 2rem;
                                        padding-right: 2.4rem;
                                    }

                                    .ltr-18ezbm2:disabled {
                                        cursor: default;
                                    }

                                    .ltr-18ezbm2:not(:disabled):focus {
                                        outline: none;
                                    }

                                    .ltr-18ezbm2:not(:disabled):focus::before {
                                        box-sizing: content-box;
                                        content: '';
                                        display: block;
                                        height: 100%;
                                        width: 100%;
                                        border: 2px solid white;
                                        border-radius: 8px;
                                        padding: 2px;
                                        position: absolute;
                                        left: -4px;
                                        top: -4px;
                                    }

                                    .ltr-18ezbm2::-moz-focus-inner {
                                        border: none;
                                    }
                                </style><button class="color-primary hasLabel ltr-18ezbm2" type="button">
                                    <style data-emotion="ltr fk7vu1">
                                        .ltr-fk7vu1 {
                                            display: block;
                                            font-size: 1.6rem;
                                            font-weight: 500;
                                            line-height: 2.4rem;
                                        }
                                    </style>
                                    <style data-emotion="ltr 1vh9doa">
                                        .ltr-1vh9doa {
                                            font-size: 1.6rem;
                                            font-weight: 400;
                                            -webkit-font-smoothing: antialiased;
                                            -moz-osx-font-smoothing: grayscale;
                                            display: block;
                                            font-size: 1.6rem;
                                            font-weight: 500;
                                            line-height: 2.4rem;
                                        }
                                    </style><span class="ltr-1vh9doa">Colours Home</span>
                                </button>
                            </a></div>
                        <div class="error-page--content--errorCode"><span id="" data-uia="">Error Code
                                <strong>NSES-404</strong></span></div>
                    </div>
                </div><span id="" class="error-page--imageSource" data-uia="">FROM <strong>LOST IN SPACE</strong></span>
                <div class="error-page--requestInfo">
                    <p class="debug-info">Build Identifier: v8758775a</p>
                    <p class="debug-info">Instance: 31c4d82a-be59-452d-9ecf-c910cb2628ed</p>
                    <p class="debug-info">Request Id: 655a28f2-a9e7-4fc8-9f86-881e5cab96bf-103921822</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function linkhome(){
            var currentUrl = window.location.pathname;
            if (currentUrl.startsWith('/admin')) {
                location.href = '/admin'
            } else {
                location.href  = '/'
            }
        }
        
    </script>
   
    
</body>

</html>