
@media  (min-width: 800px) {
    .loginimg {
      display: block; 
    }
    #dfj {
      display: block; 
    }
  }
  
  @media  (max-width: 799px) {
    .loginimg {
      display: none;
    }
    #dfj{
      display: none;
    }
  }