<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="/images/Colours (1).small.png"
                                    alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>CHANTHAPPADI PONNANI, PO MALAPPURAM, KERALA
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>(+91) 75 1011 2675
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 21:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-facebook.svg"
                                    alt=""></a>
                            <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-twitter.svg"
                                    alt=""></a>
                            <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-instagram.svg"
                                    alt=""></a>
                            <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-pinterest.svg"
                                    alt=""></a>
                            <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-youtube.svg"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                        class="text-brand">Colours</strong> - Pardha Palace </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="https://swafuvan.github.io/Personal-Website/"
                        target="_blank">Swafuvan CP</a>. All rights
                    reserved
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
    integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/assets/userAsset/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/userAsset/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/userAsset/js/vendor/jquery-migrate-3.3.0.min.js"></script>

<script src="/assets/userAsset/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/userAsset/js/plugins/slick.js"></script>
<script src="/assets/userAsset/js/plugins/jquery.syotimer.min.js"></script>
<script src="/assets/userAsset/js/plugins/wow.js"></script>
<script src="/assets/userAsset/js/plugins/jquery-ui.js"></script>
<script src="/assets/userAsset/js/plugins/perfect-scrollbar.js"></script>
<script src="/assets/userAsset/js/plugins/magnific-popup.js"></script>
<script src="/assets/userAsset/js/plugins/select2.min.js"></script>
<script src="/assets/userAsset/js/plugins/waypoints.js"></script>
<script src="/assets/userAsset/js/plugins/counterup.js"></script>
<script src="/assets/userAsset/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/userAsset/js/plugins/images-loaded.js"></script>
<script src="/assets/userAsset/js/plugins/isotope.js"></script>
<script src="/assets/userAsset/js/plugins/scrollup.js"></script>
<script src="/assets/userAsset/js/plugins/jquery.vticker-min.js"></script>
<script src="/assets/userAsset/js/plugins/jquery.theia.sticky.js"></script>
<script src="/assets/userAsset/js/plugins/jquery.elevatezoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Template  JS -->
<script src="/assets/userAsset/js/main.js?v=3.4"></script>
<script src="/assets/userAsset/js/shop.js?v=3.4"></script>
</body>

</html>