<%- include('header') %>

    <div class="container">
        <div class="row ml-200 mt-100">

            <% if(verified){ %>
                <div class="form-control" style="width: 500px; height: 300px; border-radius: 10px; ">
                    <center>
                        <h3>Change Password</h3>
                    </center><br>
                    <center>
                        <label for="password">Password</label>
                    </center>
                    <input type="password" name="password" id="passwordBox">
                    <span class="text-danger" id="passwordError"></span><br>
                    <center>
                        <label for="confirmPassword">Confirm Password</label>
                    </center>
                    <input type="password" name="confirmPassword" id="confirmPasswordBox"><br>
                    <span class="text-danger" id="confirmError"></span><br>
                    <button type="button" onclick="passwordchanging()"
                        class="btn btn-success p-2 px-3 ml-170">Submit</button>
                </div>
                <% }else{ %>
                    <div class="form-control" id="emailDiv" style="width: 500px; height: 200px; border-radius: 10px;">
                        <center>
                            <h3>Forgot Password</h3>
                        </center>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="emailBox">
                        <p class="text-danger" id="emailError"></p>
                        <button type="button" onclick="emailverification()"
                            class="btn btn-success p-2 px-3 ml-170">Submit</button>
                    </div>
                        <div id="otpbox" style="width: 300px; margin-left: 15%;">
                            <img src="/images/verifiedImage.webp" style="width: 300px;" alt="">
                            <center>
                                <p class="text-success">A link has been forwarded to your email address.Continue
                                    authentication
                                    and again start to enjoy our services</p>
                            </center>
                        </div>
                    <% } %>


        </div>
    </div>
    <style>
        #otpbox {
            border: 1px solid black;
            z-index: 100;
            display: none;
            text-align: center;
            border-radius: 10px;
            height: auto;
        }
    </style>

    <script>
        async function emailverification() {
            const email = document.getElementById('emailBox').value
            let emailError = document.getElementById('emailError')
            if (!email.trim()) {
                emailError.innerHTML = '!! Enter Email Properly !!'
            } else if (!/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(email)) {
                emailError.textContent = '!! Enter a valid email address !!';
            } else {
                const response = await fetch('/verifyEmail', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email })
                })
                if (response.status === 200) {
                    let otpdiv = document.getElementById('otpbox')
                    document.getElementById('emailDiv').style.display = 'none'
                    otpdiv.style.display = 'block'
                }
            }

        }
        async function passwordchanging() {
            const passwd = document.getElementById('passwordBox').value
            const pswrderr = document.getElementById('passwordError')

            const confrm = document.getElementById('confirmPasswordBox').value
            const confrmerr = document.getElementById('confirmError')

            if (!passwd.trim()) {
                pswrderr.innerHTML = 'Enter the Password'
            }

            if (!confrm.trim()) {
                confrmerr.innerHTML = 'Enter the Confirm Password'
            } else if (passwd !== confrm) {
                confrmerr.innerHTML = 'Password and Confirm Password must be same'
            } else {
                const responses = await fetch('/changePassword', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ passwd, confrm })
                })
                if (responses.status === 200 || responses.status === 201) {
                    await Swal.fire(
                        'Added!',
                        'Password Changed Successfully.',
                        'success',
                    )
                } else {
                    await Swal.fire(
                        'Error!',
                        'Inconvienient Process.',
                        'Sorry!',
                    )
                }
                if (responses.status === 201) {
                    location.href = '/profile'
                } else {
                    location.href = '/login'
                }

                document.getElementById('passwordBox').addEventListener('input', function () {
                    document.getElementById('passwordError').textContent = '';
                });

                document.getElementById('confirmPasswordBox').addEventListener('input', function () {
                    document.getElementById('confirmError').textContent = '';
                });

            }
        }
        // async function otpverification(){
        //     const result= document.getElementById('OTP').value
        //     let otpError = document.getElementById('otperr')
        //     if(!result.trim()){
        //         otpError.innerHTML='Enter the OTP'
        //     }else if(!isNaN(result)){
        //         otpError.innerHTML='Enter the OTP Properly'
        //     }else{
        //         const res = await fetch('/OTPVerification',{
        //             method:'POST',
        //             headers:{'Content-Type':'application/json'},
        //             body:JSON.stringify({result})
        //         })
        //         if(res.status===200){
        //             let passwordDiv =document.getElementById('passwordbox').style
        //             passwordDiv.display= 'block'
        //         }
        //     }
        // }
    </script>

    <%- include('footer') %>