 <%- include('header') %>

    <main class="main ">

        <section class=" pt-15 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row rounded" style="border: solid 1px white; background-color: #DCE1C9;">

                            <div class="col-lg-5 " style="margin-left: 40px;">
                                <div
                                    class="login_wrap widget-taber-content  background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all " style="background-color: #DCE1C9;">
                                        <div class="heading_s1 mt-20 mb-30 text-center">
                                            <h3>Login</h3>
                                            <p>Enter your credential to access your <br> account</p>
                                        </div>
                                        <form method="post" action="/login" onsubmit="return validation()">
                                            <div class="form-group bg-white text-center text-dark rounded py-2">
                                                <a href="/auth/google?from=LOGIN">
                                                    <p><img src="/images/1657952641google-logo-png-image.webp"
                                                        style="width: 25px; margin-bottom: -6px;" alt=""> Login with
                                                    Google</p>
                                                </a>
                                            </div>
                                            <div class="divider-text-center mt-15 mb-15 ">
                                                <span style="background-color: #DCE1C9;"> or</span>
                                            </div>
                                            <center>
                                                <% if(blocked) { %>
                                                    <span style="color: red;">Sorry user blocked</span>
                                                <% } %>
                                            </center>
                                            <div class="form-group">
                                                <label for="email">Email address</label>

                                                <input type="text" id="email" name="email"
                                                    placeholder="Example@gmail.com">
                                                <span style="color: red;" id="emailMessage"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" id="password" name="password" 
                                                    placeholder="Password">
                                                <span style="color: red;" id="passwordMessage"></span>


                                            </div><br>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up "
                                                    style="width: 100%;">Log in</button>
                                            </div>

                                        </form>
                                        <div class="login_footer form-group">

                                            <a class="text-muted" style="padding-right: 40px;" href="/forgotPassword">Forgot
                                                password?</a>
                                        </div><br>
                                        <div class="form-group">
                                            <a href="/signup" class="text-primary text-center"
                                                style="padding-left: 100px; text-decoration: underline;">I don't have an
                                                account?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-tag col-lg-5 " style="float: left; margin-left: 60px;">
                                <img style="margin-top: 35px; width: 500px; height: 550px;"
                                    src="/images/frock-style.jpg" alt="">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


   <%- include('footer') %>

    <script>

        

        function validation() {

            const emailInput = document.getElementById('email').value
            const passwordInput = document.getElementById('password').value

            const emailMessage = document.getElementById('emailMessage');
            const passwordMessage = document.getElementById('passwordMessage');

            emailMessage.textContent = '';
            passwordMessage.textContent = '';

            if (!/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(emailInput)) {
                emailMessage.textContent = ' enter a valid email address.';

            }

            // Validate the password field
            if (passwordInput.length < 6) {
                passwordMessage.textContent = 'Enter a password of 6 characters.';

            }

            if (emailMessage.textContent === '' && passwordMessage.textContent === '') {
                return true;
            }

           

            document.getElementById('email').addEventListener('input', function () {
                document.getElementById('emailMessage').textContent = '';
            });

            document.getElementById('password').addEventListener('input', function () {
                document.getElementById('passwordMessage').textContent = '';
            });
            
        }

    </script>

    