<%- include('header') %>

    <style>
        .password-input {
            position: relative;
        }

        .password-toggle-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            cursor: pointer;
        }
    </style>



    <div class="col-lg-6 ml-200 mb-5">
        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
            <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                    <h3 class="mb-30">Create an Account</h3>
                </div>
                <p class="mb-50 font-sm">
                    Your personal data will be used to support your experience throughout this website, to manage access
                    to your account, and for other purposes described in our privacy policy
                </p>
                <form method="post" id="signupForm" action="/signup" >
                    <div class="form-group">
                        <span style="color: red;" id="nameerr"></span>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <span style="color: red;" id="emailerr"></span>
                        <input type="text" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <span style="color: red;" id="phoneerr"></span>
                        <input type="tel" id="phone" name="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <span style="color: red;" id="passworderr"></span>
                        <input type="password" id="password" name="password" placeholder="Password">

                    </div>
                    <div class="form-group">
                        <span style="color: red;" id="confirmerr"></span>
                        <input type="password" id="confirmpassword" name="confirmpassword"
                            placeholder="Confirm password">
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="OTP()" class="btn btn-fill-out btn-block"
                            style="width: 100%;">Submit & Register</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Enter the OTP</h5>
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="otp">
                                </div>
                                <div class="text-center" style="color: red;" id="minutediv">
                                    0<span id="minute">2</span>: <span id="seconds">59</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Confirm OTP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="divider-text-center mt-15 mb-15">
                    <span> or</span>
                </div>
                <div class="form-group bg-white text-center text-dark rounded py-2">
                    <a href="/auth/google?from=SIGNUP">
                        <p><img src="/images/1657952641google-logo-png-image.webp"
                            style="width: 25px; margin-bottom: -6px;" alt=""> Login with
                        Google</p>
                    </a>
                </div>
                <div class="text-muted text-center mb-40">Already have an account? <a href="/login">Log in now</a></div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

        <script>
            function Maincounter() {
                let countminute = document.getElementById('minute')
                let countsecond = document.getElementById('seconds')
                let minute = 2
                let count = 59
                let maininterval = setInterval(() => {
                    count -= 1
                    if (count < 10 && count > 0) {
                        count = '0' + count
                    }
                    countsecond.innerHTML = count
                    if (count === 0) {
                        count = 59
                        minute -= 1
                        countminute.innerHTML = minute
                    }
                    if (minute === -1) {
                        clearInterval(maininterval)
                        document.getElementById('minutediv').innerHTML = ' Otp Expired'
                        
                    }
                }, 1000);

            }
        

            function OTP() {
                let valid = true
                const nameInput = document.getElementById('username').value
                const emailInput = document.getElementById('email').value
                const phoneInput = document.getElementById('phone').value
                const passwordInput = document.getElementById('password').value
                const confirminput = document.getElementById('confirmpassword').value

                // Get all validation messages
                const nameMessage = document.getElementById('nameerr');
                const emailMessage = document.getElementById('emailerr');
                const phoneMessage = document.getElementById('phoneerr');
                const passwordMessage = document.getElementById('passworderr');
                const confirmdMessage = document.getElementById('confirmerr');



                // Clear all validation messages
                nameMessage.textContent = '';
                emailMessage.textContent = '';
                phoneMessage.textContent = '';
                passwordMessage.textContent = '';
                confirmdMessage.textContent = '';

                // Validate the first name field
                if (nameInput.trim() === '') {
                    nameMessage.textContent = 'Please enter your username.';
                    valid = false;
                } else if (/^\d+$/.test(nameInput.trim())) {
                    nameMessage.textContent = 'Please enter a valid user name without numbers.';
                    valid = false;
                } else {
                    // The input is not empty and doesn't contain numbers, clear any previous error message.
                    nameMessage.textContent = '';
                }


                // Validate the email field
                if (!/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(emailInput)) {
                    emailMessage.textContent = ' enter a valid email address.';
                    valid = false;
                }

                // Validate the mobile field
                if (!/^\d{10}$/.test(phoneInput)) {
                    phoneMessage.textContent = 'Enter a valid 10-digit number.';
                    valid = false;
                }

                // Validate the password field
                if (passwordInput.length < 6) {
                    passwordMessage.textContent = 'Enter a password of 6 characters.';
                    valid = false;
                }

                if (passwordInput !== confirminput) {
                    confirmdMessage.textContent = 'Confirm password and password must be same';
                    valid = false;
                } else if (passwordInput.length < 6) {
                    confirmdMessage.textContent = 'Enter a password of 6 characters.';
                    valid = false;
                }
                document.getElementById('username').addEventListener('input', function () {
                    document.getElementById('nameerr').textContent = '';
                });

                document.getElementById('phone').addEventListener('input', function () {
                    document.getElementById('phoneerr').textContent = '';
                });
                document.getElementById('email').addEventListener('input', function () {
                    document.getElementById('emailerr').textContent = '';
                });

                document.getElementById('password').addEventListener('input', function () {
                    document.getElementById('passworderr').textContent = '';
                });
                document.getElementById('confirmpassword').addEventListener('input', function () {
                    document.getElementById('confirmerr').textContent = '';
                });

                // Otherwise, return false

                if (valid) {
                    const email = emailInput;
                    console.log(email)
                    fetch(`/Sendotp?email=${email}`)
                        .then((res) => {
                            if (res.status === 200) {
                                $("#exampleModal").modal('show')
                                Maincounter()
                            }
                        })
                }
            }

            $('#exampleModal').on('hidden.bs.modal', function (e) {
                document.getElementById('minutediv').innerHTML = '0<span id="minute">2</span>: <span id="seconds">59</span>'
            });

        </script>