<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/Colours logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/userAsset/css/main.css?v=3.4">

  
</head>

<body>
    <header class="header-area header-style-5 ">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great Abaya up to 50% off <a href="shop-grid-right.html">View details</a>
                                    </li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy Kafthan and Abaya, save up 35% off today <a
                                            href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> English </a>
                                </li>
                                <li><i class="fi-rs-user"></i><a href="/signup">Sign Up</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar sticky-white-bg ">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/images/Colours (1).small.png" alt="logo"></a>
                    </div>
                    <div
                        class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a class="active" href="/">Home </a>
                                </li>
                                <li><a href="shop-grid-right.html">Shop </a>

                                </li>
                                <li class="position-static"><a href="#">About Us</a>

                                </li>
                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-2">
                            <form action="#">
                                <input type="text" placeholder="Search for items…">
                                <button class="p-2" type="submit"><i class="fi-rs-search"></i></button>
                            </form>
                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img class="svgInject" alt="Evara"
                                        src="/assets/userAsset/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count blue">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Colours Pardha Palace"
                                        src="/assets/userAsset/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count blue">2</span>
                                </a>

                            </div>
                            <div class="header-action-icon d-block d-lg-none">
                                <div class="burger-icon">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/assets/userAsset/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…  ">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">shop</a>

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">About Us</a>

                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Contact</a>

                            </li>

                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91)-7510112675 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/assets/userAsset/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main ">

        <section class=" pt-15 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row rounded" style="border: solid 1px white; background-color: #DCE1C9;">

                            <div class="col-lg-5 " style="margin-left: 40px;">
                                <div
                                    class="login_wrap widget-taber-content  background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all " style="background-color: #DCE1C9;">
                                        <div class="heading_s1 mt-20 mb-30 text-center">
                                            <h3>Login</h3>
                                            <p>Enter your credential to access your <br> account</p>
                                        </div>
                                        <form method="post" action="/login" onsubmit="return validation()">
                                            <div class="form-group bg-white text-center text-dark rounded py-2">
                                                <p><img src="/images/1657952641google-logo-png-image.webp"
                                                        style="width: 25px; margin-bottom: -6px;" alt=""> Login with
                                                    Google</p>
                                            </div>
                                            <div class="divider-text-center mt-15 mb-15 ">
                                                <span style="background-color: #DCE1C9;"> or</span>
                                            </div>
                                            <center>
                                                <% if(blocked) { %>
                                                    <span style="color: red;">Sorry user blocked</span>
                                                    <% } %>
                                            </center>
                                            <div class="form-group">
                                                <label for="email">Email address</label>

                                                <input type="text" id="email" name="email"
                                                    placeholder="Example@gmail.com">
                                                <span style="color: red;" id="emailMessage"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" id="password" name="password"
                                                    placeholder="Password">
                                                <span style="color: red;" id="passwordMessage"></span>


                                            </div><br>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up "
                                                    style="width: 100%;">Log in</button>
                                            </div>

                                        </form>
                                        <div class="login_footer form-group">

                                            <a class="text-muted " style="padding-right: 40px;" href="#">Forgot
                                                password?</a>
                                        </div><br>
                                        <div class="form-group">
                                            <a href="/signup" class="text-primary text-center"
                                                style="padding-left: 100px; text-decoration: underline;">I don't have an
                                                account?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-tag col-lg-5 " style="float: left; margin-left: 60px;">
                                <img style="margin-top: 35px; width: 500px; height: 550px;"
                                    src="/images/frock-style.jpg" alt="">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->

    <script>


        function validation() {

            const emailInput = document.getElementById('email').value
            const passwordInput = document.getElementById('password').value

            const emailMessage = document.getElementById('emailMessage');
            const passwordMessage = document.getElementById('passwordMessage');

            emailMessage.textContent = '';
            passwordMessage.textContent = '';

            if (!/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(emailInput)) {
                emailMessage.textContent = ' enter a valid email address.';

            }

            // Validate the password field
            if (passwordInput.length < 6) {
                passwordMessage.textContent = 'Enter a password of 6 characters.';

            }

            if (emailMessage.textContent === '' && passwordMessage.textContent === '') {
                return true;
            }

            return false
        }

    </script>

    <script src="/assets/userAsset/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/userAsset/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/userAsset/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/userAsset/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/userAsset/js/plugins/slick.js"></script>
    <script src="/assets/userAsset/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/userAsset/js/plugins/wow.js"></script>
    <script src="/assets/userAsset/js/plugins/jquery-ui.js"></script>
    <script src="/assets/userAsset/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/userAsset/js/plugins/magnific-popup.js"></script>
    <script src="/assets/userAsset/js/plugins/select2.min.js"></script>
    <script src="/assets/userAsset/js/plugins/waypoints.js"></script>
    <script src="/assets/userAsset/js/plugins/counterup.js"></script>
    <script src="/assets/userAsset/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/userAsset/js/plugins/images-loaded.js"></script>
    <script src="/assets/userAsset/js/plugins/isotope.js"></script>
    <script src="/assets/userAsset/js/plugins/scrollup.js"></script>
    <script src="/assets/userAsset/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/userAsset/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./assets/userAsset/js/main.js?v=3.4"></script>
</body>

</html>